*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    
}

.navbar{
    display: inline-block;
}

.nav-itens{
    display: inline-block;
    margin: 25px 25px;

}

.fundo{
    background-color: #2ecb72;
}

main{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.container_A{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}

.descrição{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


.container_B{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
}

.imagem{
    width: 200px;
    padding-left: 1rem;
}

.botão{
    background-color: white;
    border: none;
    padding: 10px;
}

.botão:hover{
    background-color: #2ecb72;
    border-radius: 0.5rem;
}

#botão-login{
    background-color: #2ecb72;
    border-radius: 0.5rem;
    padding: 0.70rem;
    border: none;
}

.botão-setinha{
    border: none;
    width: 60px;
    height: 60px;
    background-color:#2ecb72;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}